#main-container{
    background-color: #3498db;
    width: 100%;
    height: 100%;
}

#navigation-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:white;
    width: 50%;
    padding:5px 5px 5px 5px;
    border: #2980b9 4px solid;
    border-radius:6px;
}

#logout{
    font-weight: bold;
}

#nav{
    font-weight: bold;
    font-size: x-large;
}

#header2{
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*text-shadow: 2px 2px yellow;*/
}

#forums-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    background:white;
    padding:5px 5px 5px 5px;
    border: #2980b9 4px solid;
    border-radius:6px;
}