#main-container{
    background-color: #3498db;
    width: 100%;
    height: 100%;
}

#navigation-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:white;
    width: 50%;
    padding:5px 5px 5px 5px;
    border: #2980b9 4px solid;
    border-radius:6px;
}

#logout{
    font-weight: bold;
}

#thread-container{
    background:white;
    width: 50%;
    padding:5px 5px 5px 5px;
    border: #2980b9 4px solid;
    border-radius:6px;
}

#form-container{
    background:white;
    width: 50%;
    padding:5px 5px 5px 5px;
    border: #2980b9 4px solid;
    border-radius:6px;
}

#comment-container{
    background:white;
    width: 50%;
    padding:5px 5px 5px 5px;
    border: #2980b9 4px solid;
    border-radius:6px;
}