#container{
    background: lightgray;
    margin-top: 10%;
    text-align: center;
}

#logout{
    font-weight: bold;
}

.page-header{

    text-shadow: 2px 2px #ff0000;

}

#header2{
    margin-top: 4%;
    text-shadow: 2px 2px yellow;
}

#textbox{
    height:200px;
    width: 500px;
    font-size:14pt;

}

#nav{
    font-weight: bold;
    font-size: x-large;
    display: inline-block;
    padding: 20px;
    background-color: lightcyan;
}

#header3{
    margin-top: 2%;
    text-shadow: 2px 2px white;
}
